body {
  background-color: #F2F3EE;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  border: solid 2px #CCCCCC;
  border-radius: 10px;
  padding: 12px;
}

.nav-button {
  margin-right: 30px;
}

.search-bar {
  border: solid 2px #CCCCCC;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
}

.tag-button {
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  outline: none;
  border: none;
}

.tag-button:hover {
  box-shadow: 0 0 11px #FF3333;
}

.tag-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.tag-row {
  display: flex;
  justify-content: space-around;
}

.tag-name {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 12px;
}

.spacing {
  margin-right: 30px;
}

.spacing2 {
  margin-right: 5px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

ul {
  padding-left: 15px;
  list-style-type: none;
  font-size: 14px;
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.search-ingredient {
  display: flex;
  justify-content: center;
  margin: 0% 5% 3% 5%;
  width: 88%;
}

.search-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

main {
  display: flex;
}

.all-recipes {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 15px;
  width: 70%;
}

h3 {
  margin: 10px 10px 10px 20px;
  font-size: 25px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none;
  height: 270px;
  width: 25%;
  margin: 20px;
}

.recipe-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.recipe-image {
  margin: 0px;
  height: 170px;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}

.recipe-image:hover {
  cursor: pointer;
}

.pink-button {
  background-color: #FF6666;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  width: 130px;
  padding: 7px;
  outline: none;
  cursor: pointer;
}

.pink-button:hover {
  background-color: #FF3333;
}

.heart-button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.red-heart-button {
  border: none;
  background-color: white;
  outline: none;
  color: red;
  cursor: pointer;
}

.to-cook-button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.gray-cook-button {
  border: none;
  background-color: white;
  outline: none;
  color: #696969;
  cursor: pointer;
}

.recipe-card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.pantry-card {
  border: solid 2px #CCCCCC;
  border-radius: 10px;
  padding: 12px;
  margin: 15px 15px 15px 0px;
  width: 300px;
}

.pantry {
  display: flex;
  flex-wrap: wrap;
}
