
body {
  background-color: #F2F3EE;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.daily-recipe {
  margin-top: 10px;
  display: flex;
  position: relative;
}

.daily-recipe-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.recipe-title {
  font-size: 30px;
  font-weight: bold;
}

.recipe-of-day {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  top: 75%;
  background-color: black;
  color: white;
  padding: 1%;
  font-weight: bold;
  font-size: 24px;
}

main {
  margin-left: 10px;
  display: flex;
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav {
  border: solid 2px #CCCCCC;
  border-radius: 10px;
  padding: 12px;
}

.nav-button {
  margin-right: 30px;
}

.search-bar {
  border: solid 2px #CCCCCC;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
  height: 570px;
}

.tag-button {
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: none;
}

input[type=radio]:checked + label {
  opacity: 0.2;
  font-style: normal;
}

.tag-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.tag-row {
  display: flex;
  justify-content: space-around;
}

.tag-name {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 12px;
}

.spacing {
  margin-right: 30px;
}

.spacing2 {
  margin-right: 5px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

ul {
  padding-left: 15px;
  list-style-type: none;
  font-size: 14px;
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.search-ingredient {
  display: flex;
  justify-content: center;
  margin: 0% 5% 3% 5%;
  width: 88%;
}

.search-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.title {
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
}

.all-recipes {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 15px;
  width: 70%;
}

h3 {
  margin: 10px 10px 10px 20px;
  font-size: 25px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: none;
  height: 310px;
  width: 25%;
  margin: 20px;
}

.recipe-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.recipe-image {
  margin: 0px;
  height: 170px;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
}

.recipe-name {
  height: 20%;
  margin: 15px;
}

.recipe-image:hover {
  cursor: pointer;
}

.recipe-card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pink-button {
  background-color: #FF6666;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  width: 150px;
  padding: 7px;
  outline: none;
  cursor: pointer;
}

.pink-button:hover {
  background-color: #FF3333;
}

.heart-button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.red-heart-button {
  border: none;
  background-color: white;
  outline: none;
  color: red;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.to-cook-button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.to-cook-button2 {
  border: none;
  background-color: #F2F3EE;
  outline: none;
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.gray-cook-button {
  border: none;
  background-color: white;
  outline: none;
  color: #696969;
  cursor: pointer;
  height: 22px;
  width: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-card-buttons {
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.pantry-card {
  border: solid 2px #CCCCCC;
  border-radius: 10px;
  padding: 12px;
  margin: 15px 15px 15px 0px;
  width: 350px;
  display: flex;
}

.pantry-info {
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
}

.pantry {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pantry-box {
  height: 40px;
  width: 10px;
  border-radius: 3px;
  margin-top: 3px;
  background-color: red;
}

.pantry-image {
  height: 400px;
  display: flex;
  width: 100%;
  margin-top: 5px;
  position: relative;
}

.pantry-stock {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  top: 65%;
  background-color: black;
  color: white;
  padding: 1%;
  font-weight: bold;
  font-size: 20px;
}

.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

.no-recipe-message {
  display: flex;
  justify-content: center;
}

.inactive {
  background-color: gray;
}

.inactive:hover {
  background-color: gray;
}

.recipe-card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.recipe-info-image {
  height: 45%;
  width: 45%;
  margin-top: 20px;
}

.recipe-information {
  display: flex;
  flex-direction: row;
}

.recipe-ingredients {
  width: 20%;
  margin-left: 50px;
}

.recipe-instructions {
  width: 80%;
}
